In [120]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import datetime

In [64]:
avg_factor_path = 'assets/movie_market.html'

In [138]:
def parse_html(avg_factor_path, encoding = 'utf-8'):
    with open(avg_factor_path, "r", encoding = encoding) as f:
        html_doc = f.read()
    #     print(html_doc)
        soup = BeautifulSoup(html_doc, 'html.parser')
        table = soup.find_all('table')[0] #the first table is the average factor table

        table_rows = table.find_all('tr')[1:] #drop the first header
        avg_data = []

        for chunk in range(len(table_rows)):
            chunk_res = table_rows[chunk].find_all('td')
            year = int(chunk_res[0].text) #year in in the first td
            avg_factor = float(chunk_res[-1].text.replace('$', '')) #year in in the last td
            avg_data.append([year, avg_factor])
    #         year = each_row.fina
    #         print(row_year)
    return avg_data
    #         break
    
def sort_time_stamp(series):
    dates = [datetime.datetime.strptime(entry, '%Y-%m-%d') for entry in series]
    dates.sort()
    sorted_dates = [datetime.datetime.strftime(entry, '%Y-%m-%d') for entry in dates]
    return sorted_dates

average_tickets = pd.DataFrame(parse_html(avg_factor_path), columns = ['year', 'average_ticket'])  
average_tickets.to_csv('average_tickets.csv')
#     table_row_break = table_row.text
#     print(table_rows)

In [139]:
df = pd.read_csv('assets/disney_movies_info.csv')#.drop('Unnamed: 0', axis = 1)

# df.size()

total_movie_box = pd.DataFrame({'date': sort_time_stamp(df.release_date),
                                'value': (df.worldwide_earnings).astype(int),
                                'movie': df.title})
total_movie_box.to_json('./total_movie_box.json', orient='records')

In [148]:
# pd.read_csv('assets/disney_movie.csv', header = None)
total_movie_box.sort_values('value', ascending = False).iloc[:10, :]



# >>> import datetime
# >>> dates = [datetime.datetime.strptime(ts, "%Y-%m-%d") for ts in timestamps]
# >>> dates.sort()
# >>> sorteddates = [datetime.datetime.strftime(ts, "%Y-%m-%d") for ts in dates]
# >>> sorteddates
# ['2010-01-12', '2010-01-14', '2010-02-07', '2010-02-11', '2010-11-16', '2010-11-
# 22', '2010-11-23', '2010-11-26', '2010-12-02', '2010-12-13', '2011-02-04', '2011
# -06-02', '2011-08-05', '2011-11-30']

          date       value                      movie
40  2013-11-10  1274219009                     Frozen
42  2016-02-11  1023784195                   Zootopia
20  1994-12-08   968511805              The Lion King
45  2019-11-07   756140237                  Frozen II
41  2014-10-23   657827828                 Big Hero 6
43  2016-11-14   643331111                      Moana
38  2010-11-24   591794936                    Tangled
44  2018-11-05   529323962  Ralph Breaks the Internet
19  1992-11-08   504050219                    Aladdin
39  2012-11-01   471222889             Wreck-It Ralph