In [120]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import datetime

In [64]:
avg_factor_path = 'assets/movie_market.html'

In [172]:
def parse_html(avg_factor_path, encoding = 'utf-8'):
    with open(avg_factor_path, "r", encoding = encoding) as f:
        html_doc = f.read()
    #     print(html_doc)
        soup = BeautifulSoup(html_doc, 'html.parser')
        table = soup.find_all('table')[0] #the first table is the average factor table

        table_rows = table.find_all('tr')[1:] #drop the first header
        avg_data = []

        for chunk in range(len(table_rows)):
            chunk_res = table_rows[chunk].find_all('td')
            year = int(chunk_res[0].text) #year in in the first td
            avg_factor = float(chunk_res[-1].text.replace('$', '')) #year in in the last td
            avg_data.append([year, avg_factor])
    #         year = each_row.fina
    #         print(row_year)
    return avg_data
    #         break
    
def sort_time_stamp(series):
    dates = [datetime.datetime.strptime(entry, '%Y-%m-%d') for entry in series]
    dates.sort()
    sorted_dates = [datetime.datetime.strftime(entry, '%Y-%m-%d') for entry in dates]
    return sorted_dates

average_tickets = pd.DataFrame(parse_html(avg_factor_path), columns = ['year', 'average_ticket'])  
average_tickets.to_csv('average_tickets.csv')
#     table_row_break = table_row.text
#     print(table_rows)
average_tickets

    year  average_ticket
0   2019            9.11
1   2018            9.11
2   2017            8.97
3   2016            8.65
4   2015            8.43
5   2014            8.17
6   2013            8.13
7   2012            7.96
8   2011            7.93
9   2010            7.89
10  2009            7.50
11  2008            7.18
12  2007            6.88
13  2006            6.55
14  2005            6.41
15  2004            6.21
16  2003            6.03
17  2002            5.81
18  2001            5.66
19  2000            5.39
20  1999            5.08
21  1998            4.69
22  1997            4.59
23  1996            4.42
24  1995            4.35

In [159]:
disney = pd.read_csv('disney_movies_info.csv')#.drop('Unnamed: 0', axis = 1)

# df.size()

total_movie_box = pd.DataFrame({'date1': sort_time_stamp(disney.release_date),
                                'value1': (disney.worldwide_earnings).astype(int),
                                'movie1': disney.title})
total_movie_box.to_json('assets/total_movie_box.json', orient='records')

In [166]:
pixar = pd.read_csv('pixar_movies_info.csv')

total_moive_box2 = pd.DataFrame({'date2': sort_time_stamp(pixar.release_date),
                                'value2': (pixar.worldwide_earnings).astype(int),
                                'movie2': pixar.title})
total_moive_box2.to_json('assets/total_moive_box2.json', orient='records')
# total_movie_box.sort_values('value1', ascending = False).iloc[:10, :]

In [170]:
total_moive_box2

         date2      value2               movie2
0   1995-11-19   373554033            Toy Story
1   1998-11-14   363258859         A Bug's Life
2   1999-11-13   497366869          Toy Story 2
3   2001-10-28   528773250       Monsters, Inc.
4   2003-05-30   871014978         Finding Nemo
5   2004-10-27   631442092      The Incredibles
6   2006-03-14   461983149                 Cars
7   2007-06-22   623722818          Ratatouille
8   2008-06-21   521311860               WALL·E
9   2009-05-13   735099082                   Up
10  2010-06-12  1066969703          Toy Story 3
11  2011-06-18   559852396               Cars 2
12  2012-06-10   538983207                Brave
13  2013-06-05   743559607  Monsters University
14  2015-05-18   857611174           Inside Out
15  2015-11-10   332207671    The Good Dinosaur
16  2016-06-08  1028570889         Finding Dory
17  2017-06-10   383930656               Cars 3
18  2017-10-20   807082196                 Coco
19  2018-06-05  1242805359        Incredibles 2
20  2019-06-11  1073394593          Toy Story 4