In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup

In [64]:
avg_factor_path = 'assets/movie_market.html'

In [65]:
def parse_html(avg_factor_path, encoding = 'utf-8'):
    with open(avg_factor_path, "r", encoding = encoding) as f:
        html_doc = f.read()
    #     print(html_doc)
        soup = BeautifulSoup(html_doc, 'html.parser')
        table = soup.find_all('table')[0] #the first table is the average factor table

        table_rows = table.find_all('tr')[1:] #drop the first header
        avg_data = []

        for chunk in range(len(table_rows)):
            chunk_res = table_rows[chunk].find_all('td')
            year = int(chunk_res[0].text) #year in in the first td
            avg_factor = float(chunk_res[-1].text.replace('$', '')) #year in in the last td
            avg_data.append([year, avg_factor])
    #         year = each_row.fina
    #         print(row_year)
    return avg_data
    #         break

average_tickets = pd.DataFrame(parse_html(avg_factor_path), columns = ['year', 'average_ticket'])  
average_tickets.to_csv('average_tickets.csv')
#     table_row_break = table_row.text
#     print(table_rows)

In [111]:
df = pd.read_csv('assets/disney_movies_info.csv')#.drop('Unnamed: 0', axis = 1)

# df.size()

total_movie_box = pd.DataFrame({'date': df.release_date, 'value': (df.worldwide_earnings).astype(int)})
total_movie_box.to_json('./total_movie_box.json', orient='records')

In [71]:
pd.read_csv('assets/disney_movie.csv', header = None)

                                         0
0                                 Zootopia
1                           Wreck-It Ralph
2                          Winnie the Pooh
3                          Treasure Planet
4                     The Three Caballeros
5                   The Sword in the Stone
6                  The Rescuers Down Under
7                             The Rescuers
8                The Princess and the Frog
9   The Many Adventures of Winnie the Pooh
10                      The Little Mermaid
11                           The Lion King
12                         The Jungle Book
13             The Hunchback of Notre Dame
14               The Great Mouse Detective
15                   The Fox and the Hound
16                The Emperor's New Groove
17                      The Black Cauldron
18                          The Aristocats
19  The Adventures of Ichabod and Mr. Toad
20                                  Tarzan
21                                 Tangled
22         Snow White and the Seven Dwarfs
23                         Sleeping Beauty
24                          Saludos Amigos
25                              Robin Hood
26               Ralph Breaks the Internet
27                              Pocahontas
28                               Pinocchio
29                               Peter Pan
30          One Hundred and One Dalmatians
31                        Oliver & Company
32                                   Mulan
33                                   Moana
34                             Melody Time
35                      Meet the Robinsons
36                         Make Mine Music
37                           Lilo & Stitch
38                      Lady and the Tramp
39                       Home on the Range
40                                Hercules
41                      Fun and Fancy Free
42                               Frozen II
43                                  Frozen
44                           Fantasia 2000
45                                Fantasia
46                                   Dumbo
47                                Dinosaur
48                              Cinderella
49                          Chicken Little
50                            Brother Bear
51                                    Bolt
52                              Big Hero 6
53                    Beauty and the Beast
54                                   Bambi
55               Atlantis: The Lost Empire
56                     Alice in Wonderland
57                                 Aladdin